.home-page .btn,
.contact-page .btn,
.about-page .btn {
  text-decoration: none;
  padding: 15px 30px;
  background-color: rebeccapurple;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.nav-com {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
}

.nav-com a:hover {
  text-decoration: none;
  background-color: rebeccapurple;
  color: white;
  padding: 10px 20px;
}
